<div class="container">
    <h3>Film list</h3>
    <table class="table table-hover" cellspacing="0" style="background-color: #eceeef;">
      <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
          <th>Youtube ID</th>
          <th>Tools</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let film of films; index as i">
          <td>{{i + 1}}</td>
          <td>{{film.name}}</td>
          <td>{{film.description}}</td>
          <td>{{film.youtubeId}}</td>
          <td>
              <button class="fa fa-cog" (click)="editFilm()"></button>
              <button class="fa fa-trash" (click)="delFilm(film.id)"></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div clas="container-fluid">
        <button (click)="open()" type="button" id="submit" name="submit" class="btn btn-primary pull-right">Add</button>
    </div>
</div>