<div class="container">
  <h3>Movies list</h3>
  <table class="table table-hover" cellspacing="0" style="background-color: #eceeef;">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Youtube ID</th>
        <th>Tools</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let video of videos; index as i">
        <td>{{i + 1}}</td>
        <td>{{video.title}}</td>
        <td>{{video.description}}</td>
        <td>{{video.youtubeId}}</td>
        <td>
          <button class="fa fa-cog" (click)="editVideo(video.title, video.description, video.youtubeId, video.id)"></button>
          <button class="fa fa-trash" (click)="deleteVideo(video.id)"></button>
        </td>
      </tr>
    </tbody>
  </table>
  <div clas="container-fluid">
    <button (click)="addVideo()" type="button" id="submit" name="submit" class="btn btn-primary pull-right">Add</button>
  </div>
</div>