input {
    // background-color: #eceeef;
    background: white;
    // padding-left: 20px;
}

textarea{
    background: white;
    // padding-left: 20px;
}


.red{
    color:red;
    }
.form-area
{
    // background-color: #FAFAFA;
    background-color: #eceeef;
	padding: 10px 40px 60px;
	margin: 10px 0px 60px;
	border: 1px solid GREY;
    }
    
h3{
    background: rgb(28, 35, 49);
    color:white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

h1{
    background: rgb(28, 35, 49);
    color:white;
    padding: 10px 10px 10px 10px;
    text-align: center;
}
