<div class="container">
    <h1>{{video.title}}</h1>
    <div class="container-fluid" style="background-color: #eceeef;">
        <h3>Description</h3>
        <h6>{{video.description}}</h6>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe width="100%" [src]="getYoutubeUrl(video.youtubeId) | safe" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="container-fluid">
            <a routerLink="/">
                <button type="button" id="submit" name="submit" class="btn btn-primary pull-right">Back</button>
            </a>
        </div>
    </div>
</div>